#parrafo-madre {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color:crimson;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Obtiene el último estilo*/
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#surtido {
    width: 300px;
    height: 200px;
}

#pastelman {
    width: 300px;
    height: 200px;
}

#carta-pasteles {
    border: 2px solid orange;
    height: 800px;
    font-size: 100px;
}

#caja-surtido {
    font-size: 2em; /*200*/
}

#surtido-carta{
    height: 2em; /*400*/
    width: 2em;
}

html{
    /*rem*/
    font-size: 30px;
}

#fresa{
    height: 20%;
    width: 50vw;
}

#arcoiris{
    height: 20%;
    width: 50vw;
}
#chocolate{
    height: 20%;
    width: 50vw;
}



body{
    text-align: center;
}