body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px; /*por defecto 16px*/
}

h1{
    font-size: 150%; /*45px*/
}

/*Todo lo strongs en rojo*/
/*
strong{
    color:red;
}
*/

/*Solo CSS como rojo*/
#css{
    color:red;
}

p strong{
    color:blue;
}

a{
    border: 3px solid rgb(255, 0, 0);
}

a:hover{
    font-size: 130%;
    color: crimson;
}

a:active{
    color: green;
}

a:visited{
    color: purple;
}

#enlace{
    text-align: center;
}